<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
<title>ESAF Notification....</title>
</head>
<body>
<table align="center" bgcolor="#EAECED" border="0" cellpadding="0"
       cellspacing="0" width="100%">
    <tbody>
    <tr>
        <td align="center" valign="bottom">
        </td>
    </tr>
    <tr style="font-size:0;line-height:0">
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td align="center" valign="top">

            <table width="600">
                <tbody>
                <tr>
                    <td align="center" valign="top">
                        <table bgcolor="#FFFFFF" border="0"
                               cellpadding="0" cellspacing="0" style=
                                       "overflow:hidden!important;border-radius:3px"
                               width="580">
                            <tbody>
                            <tr>

                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td align="center">
                                    <table width="85%">
                                        <tbody>
                                        <tr>
                                            <td align="center">
                                                <table width="85%">
                                                    <tbody>
                                                    <tr>
                                                        <td align="center"
                                                            style="font-family:'Open Sans',arial,sans-serif!important;font-size:28px!important;line-height:38px!important;font-weight:400!important;color:#252b33!important;">
                                                            Hi
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>&nbsp;</td>
                                        </tr>
                                        <tr>

                                            <td align="center">
                                                <h3 style="margin:0!important;font-family:'Open Sans',arial,sans-serif!important;font-size:20px!important;line-height:30px!important;font-weight:200!important;color:#7e8890!important">
                                                    ESAF Notification
                                                </h3>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td align="center"
                                                style="font-family:'Open Sans',arial,sans-serif!important;font-size:28px!important;line-height:38px!important;font-weight:400!important;color:#252b33!important;">
                                                <span th:text="${firstName}"></span>  <span th:text="${lastName}"></span>
                                            </td>
                                            <td align="center"
                                                style="font-family:'Open Sans',arial,sans-serif!important;font-size:28px!important;line-height:38px!important;font-weight:400!important;color:#252b33!important;">
                                                <span th:text="${emailId}"></span>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                            </tr>

                            <tr>
                                <td>&nbsp;</td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                </tr>

                <tr>
                    <td align="center">
                        <table border="0" cellpadding="0"
                               cellspacing="0" width="580">
                            <tbody>
                            <tr>
                                <td align="center"
                                    style="font-family:'Open Sans',sans-serif!important;font-weight:400!important;color:#7e8890!important;font-size:16px!important;text-transform:uppercase!important;letter-spacing:.045em!important"
                                    valign="top">Regards</td>
                            </tr>
                            <tr style="padding:0;margin:0;font-size:0;line-height:0">
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td align="center"
                                    style="font-family:'Open Sans',sans-serif!important;font-weight:400!important;color:#7e8890!important;font-size:12px!important;letter-spacing:.05em!important"
                                    valign="top"><em>Esaf!</em></td>
                            </tr>

                            <tr style="padding:0;margin:0;font-size:0;line-height:0">
                                <td>&nbsp;</td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
